DB_HOST=db.aoyqjvmwhalewpikibko.supabase.co
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=dexa-knycornelius
DB_NAME=postgres
DB_SSL=true

SUPABASE_URL=https://aoyqjvmwhalewpikibko.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFveXFqdm13aGFsZXdwaWtpYmtvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODMyODk0NSwiZXhwIjoyMTAzOTA0OTQ1fQ.eukV7PJmZW6CAB399ZKIShNOZy_bZq9qm7ZSSm26ZiE
SUPABASE_STORAGE_BUCKET=attendance-photos

JWT_SECRET=knycornelius
JWT_EXPIRES_IN=1d

PORT=4000
